//typeface
$text-font-sans: 'Raleway', 'Helvetica Neue', sans-serif;

//colors
$pewter: rgba(71,72,74,1);
$baby-blue: rgba(177,212,224,1);
$prussian-blue: rgba(0, 49, 83,1);
$rose: rgba(212,151,150,1);
$peach: rgba(220,174,150,1);
$ivory: rgba(235,238,224,0.2);
$white: #ffffff;

//section colors
$bg-color: $ivory;
$title-color: $prussian-blue;
$text-color: $pewter;
$link-color: $prussian-blue;
$link-hover-color: $rose;
$input-border-color: $baby-blue;
$input-focus-color: $prussian-blue;
$form-button-color: $baby-blue;
