.footer {
  margin: 5em auto 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  font-size: 1.2vw;
  font-style: italic;
}

.credits {
  color: $title-color;
  font-size: 1.2vw;
  font-weight: 700;
  letter-spacing: 0.1ch;
}
