.footer {
  margin: 4.5em auto 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.nav-links {
  font-size: 1.2vw;
  font-style: italic;
  line-height: 5em;
}

.credits {
  color: $title-color;
  font-size: 1.2vw;
  font-weight: 700;
  letter-spacing: 0.1ch;
  line-height: 5em;
}
