.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 60%;
  margin: auto;

  h1 {
    text-align: center;
  }
}

input, textarea, select {
  font-size: 0.8em;
  font-family: $text-font-sans;
  border: 1px solid $baby-blue;
}

input[type=text], input[type=password] {
  width: 100%;
  height: 5ch;
  padding-left: 3ch;
}

input[type=number] {
  width: 5ch;
}

input[name=commit] {
  width: 100%;
  height: 4ch;
  background-color: $baby-blue;
  -webkit-appearance: button;
}

.button_to {
  input {
    width: 30%;
    text-transform: uppercase;
    background-color: $baby-blue;
  }
}

textarea {
  width: 100%;
  height: 4rem;
  padding: 1ch 0 0 3ch;
}

select {
  height: 4ch;
}

select[id=lunchdate_date_1i] {
  width: 22%;
}
select[id=lunchdate_date_2i] {
  width: 54%;
}
select[id=lunchdate_date_3i] {
  width: 18%;
}

select[id=lunchdate_time_4i] {
  width: 22%;
}
select[id=lunchdate_time_5i] {
  width: 18%;
}

.select-dropdown {
  height: 5ch;
  width: 100%;
}

div.field_with_errors {
  display: inline;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
