.site-title {
  h1 {
    color: $title-color;
    font-size: 10vw;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 1.5vw;
    line-height: 1ch;
    text-align: justify;
    text-transform: uppercase;
  }
}
