<main class="welcome">
  <div class="tagline">
    <h1 id="club-tagline">LET'S DO LUNCH!</h1>
  </div>
  <div class="cta">
    <div id="signup-link"><%= link_to "Sign Up", signup_path %></div>
    <div id="conjunction">&nbsp;&nbsp;or&nbsp;&nbsp;</div>
    <div id="login-link"><%= link_to 'Log In', login_path %></div>
  </div>
  <div class="mascot">
    <%= image_tag("croissando.png", id: "mascot", alt: "sliding mascot") %>
  </div>
</main>
