<footer class="footer">
  <div class="nav-links">
    <%= link_to "home", user_path(current_user) %>&nbsp;&nbsp;&nbsp;
    <%= link_to "groups", groups_path %>&nbsp;&nbsp;&nbsp;
    <%= link_to "logout", logout_path, method: :delete %>
  </div>
  <div class="credits">Made by Jing and Ashley</div>
</footer>
